@charset "UTF-8";

@import "common/base.css";

#all {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	position:absolute;
	background-color:#f5f5f5;
	width:100%;
	height:100%;
}
	#all.active {
		background:url(../img/bg.jpg) 40% top;
		background-size:cover;
	}
#shutter {
	font-size:30px;
	font-weight:bold;
	color:#FF0;
	text-align:center;
	background:url(../img/img_shutter.png) center bottom no-repeat;
	background-size:cover;
	position:absolute;
	z-index:5;
	height:0;
	width:100%;
	top:0px;
	left:0px;
	text-align:center;
	text-shadow: 1px 1px 2px #666666;
}
	#shutter.noClick {
		font-size:120px;
	}
	#shutter img {
		display:none;
		width:85%;
		max-width:528px;
		height:auto;
		margin:0 auto 10%;
	}
	#shutter.result img {
		display:block;
	}
	#shutter p {
		position:absolute;
		top:7%;
		left:0;
		width:100%;
		text-align:center;
	}
	#shutter span {
		color:#FF0;
		display:block;
		background-color:#FFF;
		width:100%;
		text-align:center;
		padding:10px 0;
		background-color:rgba(15, 15, 15, 0.75);
	}
@media screen and (max-width: 640px){
	#shutter p {
		font-size:18px;
		letter-spacing:0;
	}
}
@media screen and (max-width: 320px){
	#shutter p {
		font-size:18px;
	}
}
h1 {
	text-align:center;
	font-size:14px;
	margin-bottom:20px;
}
#target {
	text-align:center;
	margin-top:50px;
	margin-bottom:30px;
}
#target.active {
	position:absolute;
	bottom:5px;
	left:10px;
	margin:0;
}
	#target canvas {
		font-size:14px;
		font-weight:bold;
		margin:15px auto 5px;
		border:1px solid #CCC;
		border-radius:130px;
		display:block;
		background-color:#8CCACF;
	}
	#target.active canvas {
		border:3px solid #000;
	}
	#target.active span {
		display:none;
	}
ul {
	width:200px;
	margin:0 auto 0;
}
	.none {
		display:none;
	}
li {
	width:200px;
	margin-bottom:10px;
	text-align:center;
}
	li img {
		display:block;
		width:24px;
		height:auto;
		margin:20px auto 5px;
	}
	li a {
		display:block;
		border:1px solid #ccc;
		background-color:#fff;
		border-radius:20px;
		text-align:center;
		padding:5px 0;
	}
	li a:hover {
		background-color:#f1f1f1;
		color:#000;
	}


#human {
}
	#human.active {
	}
	
#timer {
	display:none;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	background-color:#333;
	padding:3px 0;
	position:relative;
	z-index:50;
}
#bgm {
	display:none;
}